<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksh.heart.system.dao.MeetingDetailMapper">

    <!-- 会议详细信息返回数据 -->
    <resultMap type="java.util.HashMap" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="meetingTime" column="meeting_time" jdbcType="DATE"/>
        <result property="meetingType" column="meeting_type"/>
        <result property="hospitalId" column="hospital_id"/>
        <result property="speakersId" column="speakers_id"/>
        <result property="applicantId" column="applicant_id"/>
        <result property="questionId" column="question_id"/>
        <result property="auditorId" column="auditor_id"/>
        <result property="laborCost" column="labor_cost"/>
        <result property="activityCost" column="activity_cost"/>
        <result property="prePersons" column="pre_persons"/>
        <result property="realPersons" column="real_persons"/>
        <result property="applicantTime" column="applicant_time"/>
        <result property="applicantName" column="applicant_name"/>
        <result property="address" column="address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="source" column="source"/>
        <result property="meetingStatus" column="meeting_status"/>
        <result property="topicId" column="topic_id"/>
        <result property="auditorTime" column="auditor_time"/>
        <result property="auditorText" column="auditor_text"/>
        <result property="auditorChannel" column="auditor_channel"/>
        <result property="conclusion" column="conclusion"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <result property="hospitalName" column="hospital_name"/>
        <result property="hospitalAddress" column="hospital_address"/>
        <result property="speakersName" column="speakers_name"/>
        <result property="auditorName" column="auditor_name"/>
        <result property="topicName" column="topic_name"/>
    </resultMap>

    <!--    查询条件-->
    <sql id="Where_List">
        <if test="meeting.meetingType != null">
            and m.meeting_type =  #{meeting.meetingType}
        </if>
        <if test="meeting.meetingStatus != null and meeting.meetingStatus != ''">
            and m.meeting_status =  #{meeting.meetingStatus}
        </if>
        <if test="applicantIds != null">
             and m.applicant_id in <foreach collection="applicantIds" item="id" index="index" open="(" close=")" separator=","> #{id} </foreach>
         </if>
    </sql>

    <!--    分页-->
    <select id="selectPageList" resultType="com.ksh.heart.system.entity.meeting.Meeting">
        select * from
        (select md.*,hde.name hospital_name, hde.address hospital_address, hdc.name speakers_name, mc.name topic_name,
        case md.auditor_channel when 'beam' then su.name when 'heart' then ud.username else '' end auditor_name
        from meeting_detail md
        left join hospital_detail hde on md.hospital_id = hde.id
        left join hospital_doctor hdc on md.speakers_id = hdc.id
        left join sys_user su on md.auditor_id = su.id
        left join user_detail ud on md.auditor_id = ud.id
        left join meeting_course mc on md.topic_id = mc.id
        ) m where m.del_flag = 1
        <include refid="Where_List"/>
        order by m.meeting_time desc
    </select>

    <!--    会议详细信息-->
    <select id="getInfo" resultMap="BaseResultMap">
        select * from
        (select md.*,hde.name hospital_name, hde.address hospital_address, hdc.name speakers_name, ud1.username applicant_name, mc.name topic_name,
        case md.auditor_channel when 'beam' then su.name when 'heart' then ud2.username else '' end auditor_name
        from meeting_detail md
        left join hospital_detail hde on md.hospital_id = hde.id
        left join hospital_doctor hdc on md.speakers_id = hdc.id
        left join sys_user su on md.auditor_id = su.id
        left join user_detail ud1 on md.applicant_id = ud1.id
        left join user_detail ud2 on md.auditor_id = ud2.id
        left join meeting_course mc on md.topic_id = mc.id
        ) m
        where m.del_flag = 1 and m.id = #{meetingId}
    </select>
</mapper>